 {{!-- <p>
    <label>
         <input name="burgers" type="radio" />
         <span>{{burger_name}}</span>
     </label>
</p> --}}

<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-burgerstate="{{devoured}}">
		{{#if devoured}}MAKE AGAIN{{else}}EAT IT{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>